@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --bgcolor : #fff;
    --fgcolor : #666;
    --hlcolor : #fd7014; 
}

* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body,
#root {
    height : 100%;
}

body {
    background-color: var(--bgcolor);
    margin : 0px;
}

/* base_wrapper */
.base_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

/* header */
.header {
    /* position: absolute;
    top: 0;
    right: 0; */
    text-align: right;
    padding : 20px;
    font-size : 20px;
}

.nightToggler:hover {
    cursor: pointer;
}

/* logo */
.logo {
    margin-top: auto;
}

.logo-night {
    margin-top: auto;
    filter: invert(1) hue-rotate(180deg);
}

/* search box */
.searchBox {
    display : flex;
    justify-content: center;
    align-items: center;
    
    height : 40px;
    width: 90%;
    max-width : 500px;
    font-size: 20px;

    border-color: var(--fgcolor);
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}

.searchInput{
    height : 100%;
    width : 90%;
    padding: 5px;
    padding-left : 10px;

    font-weight: 300;
    font-size: inherit;
    outline: none;
    border: none;
}

.searchIcon-wrapper{
    display: grid;
    place-content: center;

    height: 100%;
    width : 10%;
    border-radius: 2px;
    color : var(--hlcolor);
    transition: ease-in-out 0.3s;
}

.searchIcon-wrapper:hover {
    background-color: var(--hlcolor);
    color : var(--bgcolor);
    cursor: pointer;
}

.searchIcon {
    color : inherit;
    font-size: inherit;
}

/* options tab */
.optionsTab {
    display : flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px auto;
    padding: 10px 0px;
}

.optionItem {
    display : flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding : 5px;
    color: var(--fgcolor);
}

.optionItem-active,
.optionItem:hover {
    color: var(--bgcolor);
    background-color: var(--hlcolor);
    border-radius: 5px;
}

/* text-result */
.text-results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-result {
    width: 90%;
    max-width : 800px;
    padding : 5px;
}

.text-result-title {
    /* color : darkblue; */
    padding: 0px;
    font-size : large;
    font-weight: 400;
}

.text-result-title:hover {
    text-decoration: underline;
}

.text-result-description {
    font-size : medium;
    color : var(--fgcolor);
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 350;
    line-height: 1;
}

/* image-result */
.image-results-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-result {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: min(90%,250px);
    max-width : 300px;
    align-items: stretch;
}

.image-result-image {
    border-radius: 5px;
}

.image-result-title {
    color : var(--fgcolor);
}

/* news result */
.news-results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-result {
    width: 90%;
    max-width : 800px;
    padding : 5px;
}

.news-result-title {
    /* color : darkblue; */
    padding: 0px;
    font-size : large;
    font-weight: 400;
}

.news-result-title:hover {
    text-decoration: underline;
}

.news-result-description {
    display : flex;
    justify-content: start;
    font-size : 14px;
}

.news-result-description > p {
    margin-top: 5px;
}

.news-result-publicationDate {
    font-weight: 300px;
}

.news-result-author {
    font-weight: 500px;
}

/* footer */
.footer {
    color : var(--fgcolor);
    margin-bottom: auto;
    text-align: center;
}
